@charset "utf-8";

body {
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

#app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
}

input {
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

button {
  margin-left: 5px;
  padding: 8px 10px;
  border: none;
  background: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

button.remove {
  background-color: #ff1a6f;
}
