<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js ToDo App</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <div id="app">
      <header class="header">
        <h1>Todo List</h1>
        <div class="add-form">
          <input
            class="todo-input"
            type="text"
            placeholder="タスクを追加しよう!!"
            v-model="newTodo"
          />
          <button v-on:click="addTodo">追加</button>
        </div>
      </header>

      <ul>
        <li v-for="(todo, index) in todos" :key="index">
          <div class="todo-lists" v-if="editIndex !== index">
            {{ todo.text }}
            <div>
              <button class="remove" v-on:click="removeTodo(index)">
                削除
              </button>
              <button class="edit" v-on:click="editTask(index)">編集</button>
            </div>
          </div>
          <div v-else>
            <input class="input" type="text" v-model="editTodo" />
            <button class="saveEdit" v-on:click="saveEdit(index)">保存</button>
            <button class="cancelEdit" v-on:click="cancelEdit">戻る</button>
          </div>
        </li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="todo.js"></script>
  </body>
</html>
